#rte-button-toggle-fullwindow a span {
    background: url("img-fullwindow/max.png");
    background-repeat: no-repeat;
}

#rte-button-toggle-fullwindow.active a span {
    background: url("img-fullwindow/min.png");
    background-repeat: no-repeat;
}

.fullwindow-comment #splitter #splitter-content{
    overflow: visible;
}

.fullwindow-comment #comments-section .comment-body #rte{
    height: 100%;
    padding: 0 0 0 8px;

}
.fullwindow-comment #comments-section .comment-body  form {
    background-color: #FFFFFF;
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
}

.fullwindow-comment #splitter-sidebar,
.fullwindow-comment .labels-gueditor,
.fullwindow-comment .guPagAttachment,
.fullwindow-comment .block-element-header,
.fullwindow-comment #content .block-element:first-child,
.fullwindow-comment .comment-user-logo
.fullwindow-comment .vsplitbar,
.fullwindow  #footer,
.fullwindow #theme-footer
.fullwindow-comment #pagespacer-left,
.fullwindow-comment #pagespacer-right,
.fullwindow-comment #sidebar,
.fullwindow-comment #pageheader,
.fullwindow-comment #sidebar-start,
.fullwindow #sidebar-end
{
    display: none !important;

}